body{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #222;
    color: rgb(228, 167, 37);
}
#game-container{
    width: 600px;
    height: 400px;
    background-color: #333;
    border: 3px solid white;
    margin: 20px auto;
    position:  relative;
    overflow: hidden;
}
#player{
    width: 80px;
    position: absolute;
    bottom: 10px;
    left: 260px;
    transition: transform 0.1s;
}
#enemy{
    width: 80px;
    position: absolute;
    top: 30px;
    right: 20px;
}
#dialogo{
    background-color: black;
    padding: 10px;
    width: 80%;
    margin: 10px auto;
    border-radius: 5px;
}
.vida-container{
    width: 250px;
    height: 20px;
    background: gray;
    margin: 10px auto;
    border: 2px solid white;
    position: relative;
}
.vida{
    height: 100%;
    transition: width 0.3s, background 0.3s;
}
#vida-player{
    background: green;
    width: 100%;
}
#vida-inimigo{
    background: red;
    width: 100%;
}
.btn{
    padding: 10px;
    margin: 5px;
    font-size: 16px;
    cursor: pointer;
    border: none;
    border-radius: 5px;
}
.dano{
    background: red;
    color: white;
}
.cura{
    background: green;
    color: white;
}
.loja{
    background: purple;
    color: white;
}
.ataque{
    background: blue;
    color: white;
}